body{
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{
  padding-left: 10px;
}
.one {
  background-color: #56A8AE;
  text-align: center;
}
.two{
  float : left;
  background-color: #DDB227;
  height: 5000px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.two p{
  font-size: 15px;
}
.hideGame{
  display: none;
}
.btn{
  background-color: #DDB227;
}
.pic{
  float: left;
  width: 10%;
}
.out{
  display: none;
}
.styleheading{
  color: black;
}
